{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/navbar.css' %}" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <title>Ride Sharing Service</title>
</head>

<body class="text-center">
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Hello, {{ username }}</span>
        <a href={% url 'account:logout' %}><button class="btn btn-primary logout-btn">Logout</button></a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>